@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.about {
  display: flex;
  background-color: #0a2850;
  color: #fff;
  padding: 110px 80px 173px;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.about__title {
  margin: 0;
  max-width: 251px;
  font-weight: 500;
  line-height: 52px;
  font-size: 44px;
}

.about__content {
  max-width: 660px;
  padding: 19px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph {
  margin-top: 0;
  margin-bottom: 20px;
}

.about__paragraph:last-of-type {
  margin-bottom: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_antimation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
