.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
  font-weight: bold;
  font-size: 20px;
}

.card__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.card__list-item {
  display: flex;
  margin: 0 0 16px;
}

.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: thin solid;
  margin: 0 5px;
}
